.popover_insert_content {
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 80px;
  margin-bottom: 15px;
  overflow-y: scroll;
}
span[data-tippy-content] {
  border-bottom: 2px solid #20becd;
}
.popover__content {
  cursor: pointer;
}
